/* ---------------- FONT ---------------- */
@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 100 900;
}

@font-face {
  font-family: "Integral CF";
  src: url("./fonts/Fontspring-DEMO-integralcf-demibold.otf") format("opentype");
}

/* ---------------- COMMON ---------------- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Satoshi";
  font-size: 1.6rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.btn {
  width: 210px;
  line-height: 22px;
  background: #000000;
  color: #ffffff;
  border-radius: 62px;
  -webkit-border-radius: 62px;
  -moz-border-radius: 62px;
  -ms-border-radius: 62px;
  -o-border-radius: 62px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* ---------------- HEADER ---------------- */
.header .sign-up {
  background: #000000;
}
.header .sign-up div {
  max-width: 1440px;
  width: 100%;
  margin: auto;

  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  position: relative;
}

.header .sign-up span {
  font-size: 1.4rem;
}

.header .click-sign-up {
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
}

.header .btn-close {
  position: absolute;
  right: 1.6rem;
  width: 20px;
  height: 20px;
}

.header .btn-close img {
  width: 100%;
}

.header .main-container {
  max-width: 1240px;
  width: 100%;
  margin: 62px auto 62px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.header .logo {
  font-family: "Integral CF";
  font-size: 3.2rem;
  font-weight: 700;
}

.header .nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header .nav li {
  display: flex;
  align-items: center;
  gap: 4px;
}

.header .nav a {
  font-size: 1.6rem;
  color: #000;
}

.header .search {
  width: 530px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  border: 0;
  border-radius: 62px;
  background-color: #f0f0f0;
}

.header .search input {
  flex: 1;
  height: 22px;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: #00000066;
  background-color: #f0f0f0;
}

.header .search .btn-search img {
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.header .search .icons {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* ---------------- rectangle2 ---------------- */
.rectangle2 {
  width: 100%;
  background-color: #f2f0f1;
}
.rectangle2 .main-container {
  max-width: 1440px;
  height: 663px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 54px;
}

.rectangle2 .text-side {
  width: 660px;
  height: 444px;
  margin-left: 100px;
  margin-bottom: 116px;
  margin-top: 103px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rectangle2 h2 {
  font-family: "Integral CF";
  font-size: 6.4rem;
  font-weight: 700;
  height: 173px;
  line-height: 64px;
}

.rectangle2 .text {
  line-height: 22px;
  width: 545px;
  color: #00000099;
}

.rectangle2 .btn-shopnow {
  height: 52px;
  font-weight: 500;
}

.rectangle2 .text-box {
  display: flex;
  gap: 32px;
  height: 74px;
  margin-top: 16px;
}

.rectangle2 .text-box h3 {
  font-size: 4rem;
  font-weight: 700;
  height: 54px;
}

.rectangle2 .text-box .text2 span {
  position: relative;
  padding-right: 32px;
  line-height: 22px;
  color: #00000099;
}

.rectangle2 .text-box .text2:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 74px;
  background: #000;
  opacity: 0.2;
}

.rectangle2 .main-container .img-side {
  display: flex;
  width: fit-content;
  position: relative;
}

.rectangle2 .main-container .rectangle-img {
  display: block;
  width: 100%;
  height: 663px;
}

.rectangle2 .main-container .star {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.rectangle2 .main-container .star-left {
  left: 0;
  bottom: 30px;
}

.rectangle2 .main-container .star-right {
  right: 0;
  top: 125px;
  width: 104px;
}

/* ---------------- brands-logo ---------------- */
.brands-logo {
  background-color: #000000;
}
.brands-logo .main-logos {
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 106px;
  height: 122px;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}

/* ---------------- clothes ----------------*/
.new-arrivals,
.top-selling {
  width: 100%;
  background-color: #ffffff;
}

.new-arrivals .main-container {
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  height: 745px;
  margin-top: 72px;
  flex-direction: column;
  margin: 72px auto 0;
}

.top-selling .main-container {
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
  height: 753px;
  flex-direction: column;
  margin: 0 auto;
}

.clothes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 408px;
  gap: 20px;
  justify-content: space-between;
  margin: 0 100px;
}

.clothe-for-sell {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.clothe-for-sell .name {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 8px;
}

.clothe-for-sell .rating {
  gap: 13px;
  display: flex;
  align-items: center;
}

.clothe-for-sell .rating span {
  font-size: 1.4rem;
  color: #000000;
}

.clothe-for-sell .rating strong {
  color: #00000099;
}

.prices {
  font-size: 2.4rem;
  font-weight: 700;
  gap: 10px;
  display: flex;
  height: 28px;
}

.old-price {
  color: #00000066;
  text-decoration: line-through;
}

.discount {
  background-color: #ff33331a;
  border-radius: 62px;
  -webkit-border-radius: 62px;
  -moz-border-radius: 62px;
  -ms-border-radius: 62px;
  -o-border-radius: 62px;
  color: #ff3333;
  font-size: 1.2rem;
  font-weight: 500;
  height: 28px;
  width: 58px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.top-selling .main-container h2,
.new-arrivals .main-container h2 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 55px;
  font-family: "Integral CF";
  font-size: 4.8rem;
  font-weight: 700;
}

.btn-viewall {
  display: flex;
  margin: 36px auto 64px;
  margin-bottom: 64px;
  height: 52px;
  width: 218px;
  background-color: #ffffff;
  color: #000000;
  border: solid 1px #0000001a;
}

hr {
  width: 92%;
  border: 1px solid #0000001a;
}

/* ---------------- browse-by-dress-style ---------------- */
.browse-by-dress-style {
  width: 100%;
}
.browse-by-dress-style .main-container {
  max-width: 1239px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 796px;
  background-color: #f0f0f0;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  padding-top: 70px;
  padding-bottom: 0;
}

.browse-by-dress-style .main-container h3 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
  font-family: "Integral CF";
  font-size: 4.8rem;
  font-weight: 700;
}

.browse-by-dress-style .images {
  display: flex;
  flex-direction: column;
  margin: 0 64px;
  gap: 20px;
}

.browse-by-dress-style .img-box {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.browse-by-dress-style .img-box img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  height: 289px;
}

.browse-by-dress-style .img-large {
  width: 684px;
}

.browse-by-dress-style .img-thin {
  width: 407px;
}

/* ---------------- customer-feed-back ---------------- */
.customer-feed-back .main-container {
  max-width: 1239px;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  height: 498px;
}

.customer-feed-back .head-text {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 80px 0 40px;
}

.customer-feed-back h2 {
  font-family: "Integral CF";
  font-size: 4.8rem;
  font-weight: 700;
}

.customer-feed-back .vector {
  gap: 16px;
}

.customer-feed-back .vector img {
  width: 24px;
  height: 24px;
}

.customer-feed-back .comment {
  display: flex;
  gap: 20px;
}

.customer-feed-back .comment .outside-box {
  width: 400px;
  height: 240px;
  border: 1px solid #0000001a;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.customer-feed-back .comment .inside-box {
  width: 336px;
  height: 161.58px;
  margin: 28px 32px 0;
}

.customer-feed-back .inside-box .rating {
  margin-bottom: 15px;
}

.customer-feed-back .customer-name {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  font-size: 2rem;
  font-weight: 700;
  gap: 4px;
}

.customer-feed-back .customer-name img {
  width: 19.5px;
  height: 19.5px;
}

.customer-feed-back .inside-box span {
  color: #00000099;
  line-height: 22px;
}

/* ---------------- footer ---------------- */
.footer {
  position: relative;
}

.footer .subscribe-bar {
  position: absolute;
  top: 50;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1240px;
  height: 180px;
  background-color: #000;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-sizing: border-box;
}

.subscribe-bar h2 {
  color: #ffffff;
  margin: 43px 0 43px 64px;
  font-family: "Integral CF";
  font-size: 4rem;
  width: 551px;
  font-weight: 700;
  line-height: 45px;
}

.footer .main-container2 {
  position: relative;
  background-color: #f0f0f0;
  height: 499px;
}

.subscribe-bar .fill-out {
  width: 319px;
  height: 48px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 16px;
  border: 0;
  border-radius: 62px;
  background-color: #f0f0f0;
  margin-right: 64px;
  margin-bottom: 14px;
}

.subscribe-bar input {
  border: none;
  outline: none;
  background-color: #f0f0f0;
  color: #00000066;
}

.btn-subscribe {
  background-color: #ffffff;
  color: #000000;
  width: 349px;
  height: 48px;
  font-weight: 500;
}

.footer-end {
  max-width: 1240px;
  margin: 0 auto;
  padding-top: 140px;
  box-sizing: border-box;
}

.footer-end .mid-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 11.35px;
  height: 177px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.footer-end .mid-bar .content h3 {
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 3px;
  margin-bottom: 26px;
}

.footer-end .mid-bar .content span {
  line-height: 19px;
  color: #00000099;
}

.footer-end .mid-bar .logo {
  width: 248px;
}

.footer-end .mid-bar .logo h3 {
  font-family: "Integral CF";
  font-size: 3.345rem;
}

.footer-end .mid-bar .logo span {
  font-size: 1.4rem;
}

.footer-end .mid-bar .social-media-app-logos {
  margin-top: 35px;
  gap: 12px;
}

.footer-end .mid-bar .content div {
  margin-bottom: 20px;
}

.footer-end hr {
  width: 1240px;
}

.footer-end .end-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.footer-end .end-bar .end-text {
  font-size: 1.4rem;
  color: #00000099;
}

.footer-end .payments img {
  gap: 12px;
}
